@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    font-family: 'Inter', system-ui, sans-serif;

  }
}

@font-face {
  font-family: 'Inter';
  src: url('../public/fonts/Inter/Inter.ttf');

}

.ant-menu-light.ant-menu-root.ant-menu-inline,
.ant-menu-light>.ant-menu.ant-menu-root.ant-menu-inline,
.ant-menu-light.ant-menu-root.ant-menu-vertical,
.ant-menu-light>.ant-menu.ant-menu-root.ant-menu-vertical {
  border-inline-end: none;
}

.mtSidebar {
  margin-top: 384px;
}

.no-border-between-rows .ant-table-tbody>tr>td {
  border-bottom: none;
}

.custom-table .ant-table-thead .ant-table-cell {
  display: none;
}

.ant-card .ant-card-body {
  padding: 0;
  border-radius: 0 0 8px 8px;
}

.ant-layout .ant-layout-sider-light {
  background: #F8F9FD;
}

.ant-layout-sider-children .ant-menu-light,
.ant-layout-sider-children .ant-menu-light>.ant-menu {
  background: #F8F9FD;
}
.ant-menu-light.ant-menu-horizontal >.ant-menu-item, .ant-menu-light>.ant-menu.ant-menu-horizontal >.ant-menu-item, .ant-menu-light.ant-menu-horizontal >.ant-menu-submenu, .ant-menu-light>.ant-menu.ant-menu-horizontal >.ant-menu-submenu {
  top: 10px;
}
.ant-menu-submenu-popup .ant-menu-vertical.ant-menu-sub {
  min-width: 50px;
}