@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Inter', system-ui, sans-serif;

  }
}

@font-face {
  font-family: 'Inter';
  src: url('../public/fonts/Inter/static/Inter-Medium.ttf') format('medium');
  src: url('../public/fonts/Inter/Inter.ttf') format('truetype');

}

:where(.css-dev-only-do-not-override-1k979oh).ant-menu-light.ant-menu-root.ant-menu-inline,
:where(.css-dev-only-do-not-override-1k979oh).ant-menu-light>.ant-menu.ant-menu-root.ant-menu-inline,
:where(.css-dev-only-do-not-override-1k979oh).ant-menu-light.ant-menu-root.ant-menu-vertical,
:where(.css-dev-only-do-not-override-1k979oh).ant-menu-light>.ant-menu.ant-menu-root.ant-menu-vertical {
  border-inline-end: none;
}

.mtSidebar {
  margin-top: 384px;
}

.no-border-between-rows .ant-table-tbody>tr>td {
  border-bottom: none;
}

.custom-table .ant-table-thead .ant-table-cell {
  display: none;
}

:where(.css-dev-only-do-not-override-1k979oh).ant-card .ant-card-body {
  padding: 0;
  border-radius: 0 0 8px 8px;
}

:where(.css-dev-only-do-not-override-1k979oh).ant-layout .ant-layout-sider-light {
  background: #F8F9FD;
}

.ant-layout-sider-children :where(.css-dev-only-do-not-override-1k979oh).ant-menu-light,
.ant-layout-sider-children :where(.css-dev-only-do-not-override-1k979oh).ant-menu-light>.ant-menu {
  background: #F8F9FD;
}
:where(.css-dev-only-do-not-override-1k979oh).ant-menu-light.ant-menu-horizontal >.ant-menu-item, :where(.css-dev-only-do-not-override-1k979oh).ant-menu-light>.ant-menu.ant-menu-horizontal >.ant-menu-item, :where(.css-dev-only-do-not-override-1k979oh).ant-menu-light.ant-menu-horizontal >.ant-menu-submenu, :where(.css-dev-only-do-not-override-1k979oh).ant-menu-light>.ant-menu.ant-menu-horizontal >.ant-menu-submenu {
  top: 10px;
}
:where(.css-dev-only-do-not-override-1k979oh).ant-menu-submenu-popup .ant-menu-vertical.ant-menu-sub {
  min-width: 50px;
}